<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirabellehegnet.coursera" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/coursera"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mirabellehegnet.coursera.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mirabellehegnet.coursera.CoursesActivity"
            android:label="@string/title_activity_courses" >
        </activity>
        <activity
            android:name="com.mirabellehegnet.coursera.CurrentActivity"
            android:label="@string/title_activity_current" >
        </activity>
    </application>

</manifest>
